<?xml version="1.0" ?>
<model>
  <name>fanuc_crx_10ia</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Giordano Basso</name>
    <email>giordanoschool@gmail.com</email>
  </author>
  <description>
    A simplified 6-DOF model of the FANUC CRX-10iA robotic arm for Gazebo.
  </description>
</model>
